.menu1 a {
    color: red;
}

.menu2 a {
    color: green;
}

.menu3 a {
    color: blue;
}

.menu1 a:hover {
	color: #fff;
	background: blueviolet;
	text-decoration: underline;
}

.menuPage a {
    margin-right: 10px;
}

.contain-image .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.menu-content .defaultleft {
    float:left;
}

.menu-content .default {
    float:right;
}

.default img {
    width: 60%;
}

.menu-content .forLi {
    margin-top: 0.3%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.menu-content .forLiOfImage {
    margin: 0;
}

.resizeButton { 
    width:25%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}
@media (min-width: 1281px) {
  
    .imageReponsive {
        width: 18%;
        height: 30%;
        margin-top: 2%;
        position: absolute;
    }
    
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
  
    .imageReponsive {
        width: 18%;
        height: 25%;
        margin-top: 5%;
    }
    
  }


  .menu-content {
	list-style-type: none;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .menu-content li {
	float: left;
  }
  
  .menu-content li a, .dropbtn {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  .menu-content li a:hover, .dropdown:hover .dropbtn {
	background-color: red;
  }
  
  .menu-content li.dropdown {
	display: inline-block;
  }
  
  .menu-content .dropdown-content {
	display: none;
	position: absolute;
	background-color: #003d4c;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .menu-content .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .menu-content .dropdown-content a:hover {background-color: gray}
  
  .menu-content .dropdown:hover .dropdown-content {
	display: block;
  }

  .item-content {
    width:100%;
    margin: 0 auto;
    overflow: auto;
  
  }

  .card {
    list-style-type: none;
    
  }

  .card-child {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;
    width: 30%;
    /* overflow-x: auto; */
    max-height: 30%;
    height: 30%;
    overflow-wrap: break-word;
  word-wrap: break-word;


    /* overflow:hidden; */
    float: left;
    margin: 10px;
   border: 5px solid #fff;
 
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
