.menu1 a {
    color: red;
}

.menu2 a {
    color: green;
}

.menu3 a {
    color: blue;
}

.menu1 a:hover {
	color: #fff;
	background: blueviolet;
	text-decoration: underline;
}

.menuPage a {
    margin-right: 10px;
}

.contain-image .image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
.defaultleft {
    float:left;
}

.default {
    float:right;
}

.default img {
    width: 60%;
}

.resizeButton { 
    width:25%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}